# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Environment and Credentials
.env
.env.*
*.keystore
*.jks
*.p12
*.key
*.mobileprovision

# IDE & Editor Settings
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Native Build Artifacts
/android/app/debug
/android/app/profile
/android/app/release
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh

